<header id="main-header" class="py-2 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>
              <i class="fas fa-cog"></i> Control Linea Blanca
          </h1>
        </div>
      </div>
    </div>
  </header>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-4">Tienda de Linea Blanca </h3>

      <br>
      
      <figure class="figure">
          <img src="https://cdn.homedepot.com.mx/departamentos/29_Linea_Blanca/2022/Hero_D.jpg" class="figure-img img-fluid rounded" 
          alt="A generic square placeholder image with rounded corners in a figure.">
      </figure>
      
    </div>
  </div>
  
  <app-productos></app-productos>